//spawntimer

set time_allies "timerset 20; set chng_time vstr time_axis; echo ^1#^8#^3#^7#^d#^4#^># ^oMap: ^7reactor_final ^oEnemy spawntime: ^120" 
set time_axis "timerset 30; set chng_time vstr time_allies; echo ^1#^8#^3#^7#^d#^4#^># ^oMap: ^7reactor_final ^oEnemy spawntime: ^130"

//spawn say

set alliesspawn "exec timer&selector\20.cfg"
set axisspawn "exec timer&selector\30.cfg"

//spawnselector

#allies
set allies_1 "setspawnpt 3; say_buddy ^7Spawning ^0@^7 Caves; echo ^1#^8#^3#^7#^d#^4#^>#^o Spawning ^1@^7 Caves; set allies_spawn_down vstr allies_2; set allies_spawn_up vstr allies_2" 
set allies_2 "setspawnpt 4; say_buddy ^7Spawning ^0@^7 Forward bunker; echo ^1#^8#^3#^7#^d#^4#^>#^o Spawning ^1@^7 Forward bunker; set allies_spawn_down vstr allies_1; set allies_spawn_up vstr allies_1" 
set allies_spawn_up "vstr allies_2"
set allies_spawn_down "vstr allies_2" 
set allies_startspawn "vstr allies_1"

#axis
set axis_1 "setspawnpt 1; say_buddy ^7Spawning ^0@^7 Forward spawn; echo ^1#^8#^3#^7#^d#^4#^>#^o Spawning ^1@^7 Forward spawn; set axis_spawn_down vstr axis_2; set axis_spawn_up vstr axis_2" 
set axis_2 "setspawnpt 2; say_buddy ^7Spawning ^0@^7 Headquarters; echo ^1#^8#^3#^7#^d#^4#^>#^o Spawning ^1@^7 Headquarters; set axis_spawn_down vstr axis_1; set axis_spawn_up vstr axis_1"
set axis_spawn_up "vstr axis_2"
set axis_spawn_down "vstr axis_2"
set axis_startspawn "vstr axis_1"
