*.pk3
*.log
*.pem
*.so
*.db
*.pk3.tmp
*/hunkusage.dat
**/servercache.dat
*/dlcache/*
*/profiles/defaultprofile.dat
*.txt

*/screenshots/*
*/stats/*
*/demos/*
etkey
# !.gitignore
# !etmain/
# !etpro/
# !nq/
# !*/profiles/kimi/
# !*/profiles/ETUI/
